<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block titulo %}ClickPhoto{% endblock %}</title>
  </head>

  {% block body %}
  <body class="overflow-hidden">
    <div class="container">

      <!-- NAVBAR -->
      <header>
        <nav>
          <div class="logo-clickphoto">
            <a href="{{ url_for('homepage') }}">
              <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo ClickPhoto">
            </a>
            <h1>ClickPhoto</h1>
          </div>

          <div class="restante-nav">
            <a href="{{ url_for('feed') }}" class="link-nav">Feed</a>
            <a href="{{ url_for('perfil', id_usuario=current_user.id) }}" class="link-nav">Perfil</a>
            <a href="#" class="link-nav">Sobre</a>
          </div>
        </nav>
      </header>

      <!-- FUNDO -->
      <img src="{{ url_for('static', filename='fotos_site/fundo-login.png') }}" 
           class="bg-imagem-pinterest" 
           alt="Fundo ClickPhoto">

      <!-- FORMULÁRIO -->
      <div class="container-popup">
  {% block formulario %}
  <form method="POST" class="popup">
    {{ form.csrf_token }}

    <!-- LOGO DENTRO DO FORMULÁRIO -->
    <div class="logo-formulario">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo ClickPhoto">
    </div>

    <h2>Bem-vindo(a) ao ClickPhoto</h2>

    <div class="div-input">
      {{ form.email.label(class="label") }}
      {{ form.email(class="input") }}
    </div>

    <div class="div-input">
      {{ form.senha.label(class="label") }}
      {{ form.senha(class="input") }}
    </div>

    <div class="div-botao">
      {{ form.botao_aleatorio(class="botao-login") }}
      <a href="{{ url_for('criarconta') }}" class="link-criarconta">
              Não tem uma conta? Crie aqui
            </a>
          </div>
        </form>
        {% endblock %}
      </div>

    </div>
  </body>
  {% endblock %}
</html>
